/* body {
  margin: 0;
  font-family: poppins;
  height: 100vh;
  background: radial-gradient(circle at 20% 30%, #f6ad55, transparent 50%),
    radial-gradient(circle at 70% 60%, #63b3ed, transparent 50%),
    radial-gradient(circle at 50% 50%, #ed64a6, transparent 60%),
    linear-gradient(135deg, #fbd38d, #90cdf4);
} */
